body, html{
	width: 100%;
	background-color: tan;
}

.calc-container{
	position: relative;
	top: 5%;
	left: 20%;
	width: 80%;
}

/******** Screen ***********/

.screen{
	position: relative;
	left: -30px;
	width: 20%;
	min-width: 10em;
	height: 10%;
	min-height: 5em;
	background-color: rgba(50,50,50,1);
	border: 1px solid white;
	border-radius: 2%;
	box-shadow: -10px 15px 0px #212121;
	transform: skewX(-5deg);
}

.screen .clear{
	background-color: #E30000;
	box-shadow: -1px 1px 0px #A80000;
	width: 20%;
	position: relative;
	top: 30%;
}

.screen .clear{
	background-color: #E30000;
	box-shadow: -0px 0px 0px #A80000;
	transform: translateY(2px);
}

.outline{
	position: relative;
	top: -20%;
	left: 35%;
	width: 50%;
	height: 50%;
	background-color: #fff;
	border: 3px solid #aaa;
}

.inner-screen{
	width: 80%;
	height: 50%;
	position: relative;
	top: 25%;
	left: 10%;
	background-color: rgba(0,200,0,.7);
	border-radius: 5%;
}

.inner-screen span{
	width: 100%;
	position: relative;
	left: 50%;
	font-size: 1em;
}

.keypad{
	width: 20%;
	min-width: 10em;
	height: 30%;
	min-height: 7.5em;
	background-color: rgba(50,50,50,1);
	border: 1px solid white;
	border-radius: 1%;
	box-shadow: -20px 15px 0px #212121;
	transform: skewX(20deg);
}

.column{
	width: 20%;
	height: 80%;
	display: inline-block;
	margin: 7% auto;
}

.first{
	
}

.second{
	margin-left: 5%;
}

.buttons{
	width: 70%;
	height: 20%;
	background-color: #5C5C5C;
	color: #fff;
	margin: .5em;
	text-align: center;
	border: 1px solid #aaa;
	border-radius: 10%;
	box-shadow: -5px 5px 0px #212121;
}

.buttons span{
	position: relative;
	top: 30%;
	font-size: 1em;
}

.buttons:active{
	box-shadow: -3px 3px 0px #212121;
	transform: translateY(2px);
}

.buttons:active span{
	transform: translateY(4px);
}

.first .buttons:nth-child(2){
	background-color: #000;
	box-shadow: -5px 5px 0px #000;
}

.first .buttons:nth-child(2):active{
	background-color: #000;
	box-shadow: -3px 3px 0px #000;
	transform: translateY(2px);
}

.first .buttons:nth-child(3){
	background-color: #000;
	box-shadow: -5px 5px 0px #000;
}

.first .buttons:nth-child(3):active{
	background-color: #000;
	box-shadow: -3px 3px 0px #000;
	transform: translateY(2px);
}

.first .buttons:first-child{
	background-color: #E30000;
	box-shadow: -5px 5px 0px #A80000;
}

.first .buttons:first-child:active{
	background-color: #E30000;
	box-shadow: -3px 3px 0px #A80000;
	transform: translateY(2px);
}



.fifth{
	position: relative;
	
}
.fifth .buttons{
	background-color: black;
	box-shadow: -5px 5px 0px #000;
}

.fifth .buttons:active{
	background-color: black;
	box-shadow: -3px 3px 0px #000;
	transform: translateY(2px);
}




/*********** Lamp *************/
	
/******* Container ********/

.lamp-container{
	width: 20%;
	height: 50%;
	position: absolute;
	right: 10%;
	top: 5%;
}

/******* Base ********/

.shade{
	width: 100px;
	height: 0;
	border-bottom: 100px solid rgba(0,0,240,.5);
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	z-index: 5;
}

.bulb{
	width: 10%;
	height: 10%;
	background-color: yellow;
	border-radius: 100%;
	position: relative;
	left: 35%;
	top: -15%;
	z-index: 3;
}

.stand{
	width: 5%;
	height: 5%;
	background-color: #000;
	position: relative;
	left: 37.5%;
	top: -15%;
	z-index: 2;
}

.base{
	width: 40%;
	height: 50%;
	background-color: #eee;
	border-radius: 10%;
	position: relative;
	top: -15%;
	left: 20%;

}

.switch{
	width: 8%;
	height: 10%;
	background-color: black;
	position: relative;
	left: 40%;
	top: 80%;
	border-radius: 40%;
	transform: skewX(25deg);
}


/*********** Clock *************/

/******* Container ********/

.clock-container{
	width: 30%;
	height: 30%;
	position: absolute;
	bottom: 20%;
	left: 60%;
}

.clock-frame{
	width: 15em;
	height: 15em;
	background-color: #ccc;
	border-radius: 100%;
}

.clock-face{
	width: 12em;
	height: 12em;
	background-color: #fff;
	border-radius: 100%;
	position: relative;
	top: 10%;
	left: 10%;
}

.clock-face span{
	border-radius: 100%;
}

.center{
	width: 1em;
	height: 1em;
	background-color: #000;
	border-radius: 100%;
	position: relative;
	top: 45%;
	left: 45%;
}

.min-hand{
	width: .5em;
	height: 5em;
	background-color: #000;
	position: relative;
	top: 45%;
	left: 45%;
}

.hour-hand{
	width: .5em;
	height: 3em;
	background-color: orange;
	position: relative;
	top: -30%;
	left: 45%;
}


/*********** Laptop *************/

/******* Container ********/

.lap-container{
	width: 40%;
	height: 60%;
	position: absolute;
	top: 10%;
	left: 10%;
}

/******* Laptop Screen ********/

.lap-top{
	width: 100%;
	height: 60%;
	background-color: silver;
	border-radius: 10%;
	position: relative;
	border: 1px solid black;
}

.lap-screen{
	width: 90%;
	height: 80%;
	background-color: #fff;
	border-radius: 2%;
	position: relative;
	left: 5%;
	top: 10%;
	border: 1px solid black;
}

/******* Laptop Keyboard ********/
.lap-bottom{
	width: 100%;
	height: 50%;
	background-color: blue;
	border-radius: 10%;
	position: relative;
	border: 1px solid black;
}

.mousepad{
	width: 25%;
	height: 25%;
	background-color: silver;
	border: 1px solid black;
	border-radius: 10%;
	position: absolute;
	bottom: 5%;
	left: 37.5%;
}


